/ABOUT-NLS~
*.o
*.lo
.deps
.libs
Makefile
Makefile.in
/ABOUT-NLS
/AUTHORS
/FAQ
/INSTALL
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/lib
/libtool
/po-gnulib
/stamp-h1
/a2ps-*.tar.gz
/GNUmakefile
/maint.mk
/README-release
/tight-scope.mk
